 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>

<form action="" name="srv" method="POST">
<table id="servers" class="servers" border="1" cellpadding="5">
	<tr class="servers_header">
		<th>Backup?</th>
		<th>Num</th>
		<th>Name</th>
		<th>ID</th>
		<th>IN?</th>
	</tr>
    {% for item in servers %}
    {% set server_id = item.id %}
    {% set checked = " checked" if server_id in server_ids else "" %}
	<tr class="servers">
		<td><input type="checkbox" name="include-{{ server_id }}" id="include-{{ server_id }}"{{ checked }}></td>
		<td>{{ image_dict[item.id]|length }}</td>
		<td>{{ item.name }}</td>
		<td>{{ item.id }}</td>
		<td>{{ server_id in server_ids }}</td>
	</tr>
    {% endfor %}
	</tr>
</table>

<p>
Number of backup images to retain: 
<select id="retain" name="retain">
{% for ii in range(1, 30) %}
{% set matcher = "" ~ ii %}
{% set chk = " selected" if matcher == str_retain else "" %}
<option value="{{ ii }}"{{ chk }}>{{ ii }}</option>
{% endfor %}
</select>
</p>
<input type="submit" name="submit" value="Submit">
</form>

</body>
</html>
